main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem 0;
}

.right-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.left-container {
  flex: 1;
}

/* Tablet */
@media (max-width: 992px) {
}

/* Mobile */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .left-container {
    width: 100%;
    margin: 1rem;
  }

  .right-container {
    width: 100%;
  }
}

/* Small mobile */
@media (max-width: 480px) {
}
