* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background: linear-gradient(to bottom, #0a2e52, #001d21);
}
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

input,
select,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
}
