.report-details-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000;
  transition: all 0.2s ease-in-out;
}

.report-details-inner {
  width: 90%;
  height: 90%;
  border: 1px solid #00b65c;
  border-radius: 20px;
  background-color: hsla(216, 75%, 43%, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.report-details-close-icon-container {
  position: absolute;
  top: 5%;
  left: 95%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.report-details-close-icon-container:hover {
  transform: scale(1.1);
}

.report-details-close-icon-container:active {
  transform: scale(1);
}

.report-details-close-icon-container img {
  max-width: 100%;
}

.report-details-left {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 1.5rem;
}

.report-details-left > div {
  width: 100%;
  padding: 0 5rem;
}

.report-details-left div input,
.report-details-left div select,
.report-details-left div textarea {
  width: 100%;
}

.report-details-left p {
  font-size: 0.8rem;
}

.editable-details-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  gap: 1rem;
}

.editable-details-container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.editable-details-container > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  color: white;
}

.editable-details-button-container {
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.editable-details-button-container button {
  color: white;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 1rem;
}

.editable-details-button-container button[type="submit"] {
  background-color: #00b65c;
}

.editable-details-button-container button[type="button"] {
  background-color: #b5b5b5;
  color: #2a2a2a;
}

.editable-details-button-container button[type="submit"]:hover {
  background-color: #00d96e;
}

.editable-details-button-container button[type="button"]:hover {
  background-color: #888888;
  color: #2a2a2a;
}

.admin-status-container button[type="button"] {
  background-color: #00b65c;
  color: white;
}

.admin-status-container button[type="button"]:hover {
  background-color: #00d96e;
  color: white;
}

.non-editable-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  font-size: 0.7rem;
  color: white;
  margin-left: 5rem;
}

.report-details-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  gap: 1.5rem;
}

.report-details-change-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  gap: 1rem;
}

.report-details-change-photo button {
  background-color: #0a2e52;
  font-size: 0.7rem;
  color: white;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.report-details-change-photo button:hover {
  background-color: #1b5dbf;
  border: 1px solid black;
}

.report-details-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: fit-content !important;
}

.report-details-image-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in;
}

.user-details-map-container {
  width: 100%;
  height: 100%;
}

.zoomed-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.zoomed-image-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-out;
}

.zoomed-image-container.zoomed {
  transform: scale(1);
}

.report-details-camera-button {
  display: none;
}

/* Tablet */
@media (max-width: 992px) {
}

/* Mobile */
@media (max-width: 768px) {
  .report-details-container {
    height: 100%;
  }
  .report-details-inner {
    height: 100%;
  }
  .editable-details-container {
    height: 100%;
    overflow-y: scroll;
  }
  .editable-details-container > div {
    height: fit-content;
    flex-direction: column;
  }
  .report-details-left > div {
    padding: 0;
  }
  .report-details-left {
    width: 90%;
    height: fit-content;
  }
  .report-details-right {
    width: 90%;
    height: fit-content;
  }
  .user-details-map-container {
    height: 300px;
  }
  .non-editable-details-container {
    margin: 0;
  }
  .editable-details-button-container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .report-details-close-icon-container {
    top: 2%;
    left: 85%;
  }
  .user-details-map-container {
    margin: 1rem 0;
  }
  .report-details-camera-button {
    display: block;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .report-details-container {
    height: 100%;
  }
  .report-details-inner {
    height: 100%;
  }
  .editable-details-container {
    height: 100%;
    overflow-y: scroll;
  }
  .editable-details-container > div {
    height: fit-content;
    flex-direction: column;
  }
  .report-details-left > div {
    padding: 0;
  }
  .report-details-left {
    width: 90%;
    height: fit-content;
  }
  .report-details-right {
    width: 90%;
    height: fit-content;
  }
  .user-details-map-container {
    height: 300px;
  }
  .non-editable-details-container {
    margin: 0;
  }
  .editable-details-button-container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .report-details-close-icon-container {
    top: 2%;
    left: 85%;
  }
  .user-details-map-container {
    margin: 1rem 0;
  }
  .report-details-camera-button {
    display: block;
  }
}
