section {
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 1rem 0;
}
