.messages-board-container {
  background-color: hsla(216, 75%, 43%, 0.3);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 0 5rem;
}

.messages-board-container h3 {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: hsla(210, 33%, 96%, 0.5);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  position: relative;
  color: #2a2a2a;
}

.message-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.25rem 0;
}

.message-details-container span {
  font-size: 0.6rem;
  font-family: "Roboto", sans-serif;
}

article p {
  margin: 0.5rem 0;
  font-family: "Roboto", sans-serif;
}

article::before {
  content: "";
  width: 2px;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 2.5%;
  border-radius: 20px;
  background-color: #0a2e52;
}
