.admin-panel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.admin-side-container {
  text-align: center;
  width: 25%;
}
.admin-side-container h3 {
  margin: 2rem 0;
}
.admin-main-container {
  flex: 1;
}
.admin-main-container h4 {
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 0.15rem;
}
.admin-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-menu-items div {
  border-radius: 20px;
  width: 75%;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.admin-menu-span.active {
  background-color: #1b5dbf;
}

.admin-menu-items div span:nth-child(1) {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.admin-menu-items div span:nth-child(1) img {
  max-width: 100%;
}
.admin-reports-stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.admin-stat-box {
  background-color: hsla(216, 75%, 43%, 0.3);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.admin-stat-box:hover {
  transform: scale(1.1);
}
.admin-stat-box:active {
  transform: scale(1);
}
.admin-stat-box div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.admin-stat-box div:nth-child(2) {
  font-size: 2.5rem;
}
.admin-stat-box-icon-container {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.admin-stat-box-icon-container img {
  max-width: 100%;
}

.admin-reports-table-container table {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-spacing: 0 2rem;
  padding: 0 2rem;
}

.admin-reports-table-container table th,
.admin-reports-table-container table td {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.admin-reports-table-container table td {
  text-align: center;
}
