.toaster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  opacity: 0; /* start hidden */
  transform: translateX(-50%) translateY(-20px);
  animation: slideFadeIn 0.3s forwards; /* fade-in animation */
  z-index: 10000;
}

.success {
  border: 1px solid rgb(2, 199, 2);
}

.error {
  border: 1px solid red;
}

.toaster-container span:nth-child(1) {
  width: 2rem;
  height: 2rem;
}

.toaster-container img {
  max-width: 100%;
}

/* Fade-in / slide-in animation */
@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.toaster-leave {
  animation: slideFadeOut 0.3s forwards;
}

@keyframes slideFadeOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
