.recent-reports-container {
  background-color: hsla(216, 75%, 43%, 0.3);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 0 5rem;
}

.recent-reports-container h3 {
  color: white;
  margin-bottom: 1rem;
}

.report-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(210, 33%, 96%, 0.5);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  position: relative;
  color: #2a2a2a;
}

.report-card span {
  font-family: "Roboto", sans-serif;
}

.report-card::before {
  content: "";
  width: 2px;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 1.5%;
  border-radius: 20px;
  background-color: #0a2e52;
}
