.my-reports-container {
  background-color: hsla(216, 75%, 43%, 0.3);
  margin: 0 4rem;
  border-radius: 20px;
  color: white;
}

.my-reports-container table {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-spacing: 0 2rem;
  padding: 0 2rem;
}

.my-reports-container table th,
.my-reports-container table td {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  width: 20%;
}

.my-reports-container table td {
  text-align: center;
}

.no-reports-container {
  padding: 2rem;
  text-align: center;
}

.sort-container {
  margin-left: 90%;
  padding: 1rem 0;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.sort-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(-180deg);
  width: 1rem;
  height: 1rem;
  background-image: url("../../../public/images/expandable-arrow.svg");
  background-size: contain; /* scale image to fit */
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease-in-out;
}

.sort-container.active::after {
  transform: translateY(-50%) rotate(0deg);
}

.sort-list-container {
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  top: 75%;
  left: 0;
  background-color: rgba(255, 255, 255);
  color: #2a2a2a;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  transition: all 0.2s ease-in-out;
}

.sort-list-container.show {
  transform: scaleY(1);
}

.sort-list-container p {
  margin: 0.25rem 0;
  padding: 0.25rem 2rem;
}

.sort-list-container p:hover {
  background-color: hsla(216, 75%, 43%, 0.3);
}

/* Search Bar */
.searchbar-container {
  background-color: hsla(216, 75%, 43%, 0.3);
  margin: 2rem 4rem 1rem;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
}

.searchbar-container .search-icon-container {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.searchbar-container .search-icon-container img {
  max-width: 100%;
}

.searchbar-container .search-icon-container:hover {
  transform: scale(1.1);
}

.searchbar-container .search-icon-container:active {
  transform: scale(1);
}
