.new-report-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-report-container {
  width: 90%;
  height: 90%;
  border: 1px solid #00b65c;
  border-radius: 20px;
  background-color: #1b5dbfb7;
}

.new-report-container div:nth-child(1) {
  margin: 2rem 1rem 4rem;
}

.inner-new-report-container {
  position: relative;
}

.inner-new-report-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.close-icon-container {
  position: absolute;
  top: 10%;
  left: 90%;
  width: 2rem;
  height: 2rem;
}

.close-icon-container img {
  max-width: 100%;
}
